/* ================ [ BASIC SETUP ] ================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 20px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

/* ================ [ REUSABLE COMPONENTS ] ================= */
.row {
  max-width: 1920px;
  /* margin: 0 auto; */
}

.section {
  height: 3em;
}

h2 {
  font-weight: 900;
  text-align: center;
  font-size: 2.5rem;
  color: white;
  padding: 1rem;
  text-shadow: 3px 3px 5px black;
}

h2::after {
  content: "";
  display: block;
  width: 9rem;
  height: 0.1em;
  background: #ed462f;
  margin: 0 auto;
}

h3 {
  font-family: "Roboto", Arial, Helvetica;
  font-size: 2rem;
  font-weight: 400;
  color: #ed462f;
  text-align: center;
  margin: 0 auto;
}

/* ================ [ REUSABLE COMPONENT ] ================= */

.mobile-header {
  display: none;
}

/* ===================== [ HEADER ] ======================= */
/* image url: /resources/css/hero-img.jpg  */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://i.imgur.com/tAqcZat.jpg?1'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 90vh;
}

.header-title {
  width: auto;
  transform: translate(0, 40%);
}

.name {
  display: block;
  padding-left: 6%;
}

.job-title {
  display: block;
  padding-left: 31.6%;
}

.title-font {
  font-weight: 300;
  letter-spacing: 3px;
  text-shadow: 3px 3px 5px black;
  white-space: nowrap;
  color: #dddddd;
}

.first-part-animation {
  animation-name: intro;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;
  animation-delay: 0.3s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.second-part-animation {
  animation-name: intro;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;
  animation-delay: 1.5s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.first-initals {
  font-size: 8rem;
  margin-left: 5%;
  letter-spacing: .15rem;
  opacity: 0;
}

.name-end {
  font-size: 6rem;
  letter-spacing: .15rem;
  opacity: 0;
}

/* ======================= [NAVBAR] =========================*/
nav{
  background: #849b67;
  padding: 1.5%;
  top: 0;
  position: sticky;
  z-index: 100;
}

nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

nav ul a{ 
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(#fbce33, #fbce33);
  background-size: 0 3px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition-property: font-weight, background-size;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

nav ul a:hover {
  font-weight: 500;
  padding-bottom: 10px;
  background-size: 100% 3px, auto;
  text-shadow: 3px 3px 5px black;
}

/* ========================= [ ABOUT ] ========================== */
.about {
  background: #849b67;
}

.about-section {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 0px 10px 10px 5px #000;
}

.about-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, #181818, 52%, #ed462f 75%);
  width: 60%;
}

.about-left img {
  display: inline-block;
  width: 70%;
  height: auto;
  border-radius: 50%;
  padding: 2%;
}

.about-right {
  display: flex;
  width: 95%;
  align-items: center;
  border: 0.25rem solid #ed462f;
  border-left: none;
  padding: 1.4rem;
  background: rgb(236, 233, 233);
}

.about-right p {
  font-style: italic;
  font-size: 1.4rem;
  line-height: 1.45em;
  color: rgb(31, 30, 30);
  padding: 1em 1.6em 1em 1.6em;
}

/* ============================= [ SKILLS ] ============================== */
.skills-section {
  background: #849b67;
  padding-top: 1%;
}

.skills-display {
  height: 25vh;
  background: #333;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1%;
  box-shadow: 0 10px 10px 5px #000;
}

.skills-display h2 {
  padding: 0;
  padding-bottom: 2.5%;
}

.skills-icons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  background: #333;
}

.skills-icons img {
  width: 5%;
  transition: all ease-in-out 1s;
}

.skills-icons img:hover {
  transform: scale(1.3);
}

/* ============================= [ PROJECTS ] ============================= */
.project-section-header {
  background: #849b67;
}

.project-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  width: 26%;
  height: fit-content;
  border-radius: 1.25em;
  box-shadow: 0 3px 1.25em 0 rgba(0, 0, 0, 0.5);
}

.project-container:last-child {
  margin-bottom: 9%;
}

.project-container-title {
  background: #fbce33;
  border-radius: 20px 20px 0 0;
}

.project-container-img {
  align-self: center;
  width: fit-content;
  transform: scale(.75);
}

.project-container-img img{
  border-radius: 1em;
  background: #fff;
  border: 1px solid black;
  /* transform: scale(.75) */
}

.project-container-img img:hover{
  opacity: .25;
}

.project-description {
 place-self: center;
 text-align: center;
 padding: 2.5% 2.5%;
 height: 7em;
 border-top: 1px solid rgba(78,82,85,.3);
 border-bottom: 1px solid rgba(78, 82, 85, 0.3);
 line-height: 1.4em;
}

.project-icon-bar {
  height: fit-content;
  padding: 4% 0;
  display: flex; 
  justify-content: space-evenly; 
}

.project-icon-bar img {
  width: 10%;
}

.project-description p{
  font-family: "Roboto", helvetica;
  font-size: 1em;
}

#projects {
  height: 5vh;
  background: #849b67;
}

/* ==================== [Hover Effect over Projects] ====================== */

.hover-card {
  position: relative;
}

.hover-card img {
  transition: 250ms ease-out;
}

.hover-card:hover img {
  opacity: 0.3;
}

.hover-project-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* .hover-links a {
  margin: 1em;
  font-size: 4em;
  text-decoration: none;
  color: black;
} */

.hover-links a:hover {
  color: #ed462f;
  font-weight: bold;
}

.hover-card:hover .hover-project-img {
  opacity: 1;
}

/* =========================== [ CONTACT ] ============================ */

.contact-main {
  width: 35%;
  margin: auto;
  background: #ffffff;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 1.25em;
  padding-bottom: 2em;
  margin-bottom: 2.5em;
}

.contact-title {
  background-color: #849b67;
  border-radius: 1.25em 1.25em 0 0;
  padding: .5em;
}

.contact-flex {
  display: flex;
  flex-direction: column;
  height: 23.4em;
  justify-content: space-evenly;
  align-items: center;
}

.contact-links {
  position: relative;
  font-size: 1.3em;
  height: fit-content;
  text-align: center;
  width: 80%;
  background: #ebebeb;
  border-radius: 1.7em;
  padding: 1em;
  border-style: none;
  outline: none;
}

.contact-links :hover {
  color: #ed462f;
}

.contact-links i {
  margin-left: 0.6em;
  color: #10110f;
}

.icon-names {
  font-family: "Courier Prime", helvetica;
  margin-left: 0.5em;
  color: #10110f;
}

/* ====================== [Burger Menu] ======================== */
#burger-menu,
.burger-menu,
.bm-burger-button,
.small-header,
.mobile-header,
button {
  display: none;
  height: 0px;
  width: 0px;
  z-index: 0;
}

/* ========================= [ FOOTER ] ========================= */
.footer-section {
  text-align: center;
}
/* =========================== [Media Queries] ============================ */

/* =========================== [ For Laptops ] =========================== */
@media screen and (max-width: 1440px) {
  #burger-menu,
  .burger-menu,
  .small-header,
  .mobile-header,
  .bm-item-list,
  .button,
  .bm-burger-button {
    display: none;
    width: 0;
    height: 0;
    z-index: 0;
  }
  html,
  body {
    font-size: 16px;
  }
  /* =============== [Header] =============== */
  .name {
    padding-left: 4.5%;
  }
  /* =============== [About] ================= */
  

  /* ============ [Projects] ============= */

  

  /* ============= [Contact] ============== */


  /* ============== [Footer ============== */

 
}

/* =========================== [ For iPod Pro ] =========================== */
@media screen and (min-width: 1024px) and (max-width: 1400px) {
  #burger-menu,
  .burger-menu,
  .small-header,
  .mobile-header,
  .bm-item-list {
    display: none;
    width: 0;
    height: 0;
    z-index: 0;
  }

  button,
  .bm-burger-button {
    display: none;
    width: 0;
    height: 0;
    z-index: 0;
  }

  /* ============= [ HEADER ] ============= */

  

  /* ================ [ NAVBAR ] ================= */

  

  /* ================= [ ABOUT ] ================== */

  

  /* ============= [ SKILLS ] ============ */

  

  /* ================ [ PROJECTS ] ================= */

  

  /* =============== [ CONTACT ] ================ */

  
}

/* ====================== [ iPad ] ============================ */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #burger-menu,
  .burger-menu,
  .bm-burger-button,
  .small-header,
  .mobile-header,
  .bm-item-list,
  button {
    display: none;
  }
  html {
    width: 176%;
  }

  /* ============= [ HEADER ] ============== */

  

  /* ============= [ NAVBAR ] =============== */

  

  /* ============= [ ABOUT ] ============== */

  

  /* ================= [ SKILLS ] ================ */

  

  /* ============== [ PROJECTS ] ================ */

  

  /* =============== [ CONTACT ] ================= */

  
}

/* ================= [ MOBILE ] =================== */

@media screen and (min-width: 320px) and (max-width: 600px) {
  .navbar {
    display: none;
  }
  html {
    width: 400%;
  }

  /* ============ [ HEADER ] =============== */

  

  /* =============== [ ABOUT ] ================ */

  

  /* =============== [ SKILLS ] ================ */

  

  /* =============== [ PROJECTS ] =============== */

  

  /* ============= [ CONTACT ] ============= */

  

  /* ============= [ BURGER MENU ] ================ */

  
}
