/* ================ [ BASIC SETUP ] ================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 1.38vw; /* ~ 20px */
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

/* =============== [ REUSABLE COMPONENTS ] =============== */
.row {
  width: 100vw;
  margin: 0 auto;
}

.section {
  height: 3.5em;
}

h2 {
  font-weight: 900;
  text-align: center;
  font-size: 2.2rem;
  color: white;
  padding: 1rem;
  text-shadow: 3px 3px 5px black;
}

h2::after {
  content: "";
  display: block;
  width: 9rem;
  height: 0.1em;
  background: #ed462f;
  margin: 0 auto;
}

h3 {
  font-family: "Roboto", Arial, Helvetica;
  font-size: 1.8rem;
  font-weight: 400;
  color: #ed462f;
  text-align: center;
  margin: 0 auto;
}

/* ================ [ REUSABLE COMPONENT ] ================= */

/* ===================== [ HEADER ] ======================= */
header {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.6)),
    url('./images/hero-img.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 90vh;
  width: 100vw;
}

.header-title {
  display: flex;
  flex-direction: column;
  width: 100vw;
  transform: translate(0, 40%);
}

.name {
  margin-left: 5vw; 
}

.job-title {
  align-self: flex-end;
  padding-right: 5vw;
}

.title-font {
  font-weight: 300;
  letter-spacing: 3px;
  text-shadow: 3px 3px 5px black;
  white-space: nowrap;
  color: #dddddd;
}

.first-part-animation {
  animation-name: intro;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;
  animation-delay: 0.3s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.second-part-animation {
  animation-name: intro;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;
  animation-delay: 1.5s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.first-initials {
  font-size: 9vw;
  letter-spacing: .15rem;
  opacity: 0;
}

.second-initial {
  margin-left: 4vw;
}

.name-end {
  font-size: 7vw;
  letter-spacing: .15rem;
  opacity: 0;
}

/* ======================= [NAVBAR] =========================*/
nav {
  background: #849b67;
  padding: 1.3vw;
  top: 0;
  position: sticky;
  z-index: 100;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

nav ul a { 
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(#fbce33, #fbce33);
  background-size: 0 3px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition-property: font-weight, background-size;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

nav ul a:hover {
  font-weight: 500;
  padding-bottom: 10px;
  background-size: 100% 3px, auto;
  text-shadow: 3px 3px 5px black;
}

/* ========================= [ ABOUT ] ========================== */
.about {
  background: #849b67;
}

.about-section {
  display: flex;
  margin: 0 5%;
  width: 90%;
  box-shadow: 0px 10px 10px 5px #000;
}

.about-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, #181818, 52%, #ed462f 75%);
  width: 60%;
}

.about-left img {
  display: inline-block;
  width: 70%;
  height: auto;
  border-radius: 50%;
  padding: 2%;
}

.about-right {
  display: flex;
  width: 95%;
  align-items: center;
  border: 0.25rem solid #ed462f;
  padding: 1.4rem;
  background: rgb(236, 233, 233);
}

.about-right p {
  font-style: italic;
  font-size: 1.125rem;
  line-height: 1.3em;
  color: rgb(31, 30, 30);
  padding: 1em 1.6em 1em 1.6em;
}

/* ============================= [ SKILLS ] ============================== */

.skills-section {
  background: #849b67;
  padding-top: 1%
}

.skills-display {
  height: auto;
  background: #333;
  margin: 0 5%;
  padding-top: 1%;
  padding-bottom: 4%;
  box-shadow: 0 10px 10px 5px #000;
}

.skills-display h2 {
  padding: 0;
  padding-bottom: 2.5%;
}

.skills-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: auto;
  background: #333;
  position: relative;
}

.skills-bar img {
  width: 3.3rem;
  transition: transform ease-in-out 1s;
}

.skills-bar img:hover {
  transform: scale(1.3);
}

/* ============================= [ PROJECTS ] ============================= */

.project-section-header {
  background: #849b67;
}

.project-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 5%;
  width: 28vw; 
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 1.25em;
  box-shadow: 0 3px 1.25em 0 rgba(0, 0, 0, 0.5);
}

.project-container:last-child {
  margin-bottom: 9%;
}

.project-container-title {
  background: #fbce33;
  border-radius: 1rem 1rem 0 0;
}

.project-description {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 2%;
  border-top: 1px solid rgba(78,82,85,.3);
  border-bottom: 1px solid rgba(78, 82, 85, 0.3);
  line-height: 1.4em;
  height: auto;
  min-height: 21vh; 
}

.project-icon-bar {
  display: flex; 
  justify-content: space-evenly;
  position: relative;
  height: inherit;
  padding: 4% 0;
}

.project-icon-bar img {
  width: 2.5em;
}

.project-description p{
  font-family: "Roboto", helvetica;
  font-weight: 400;
  font-size: .9rem;
  letter-spacing: .02rem;
}

#projects {
  height: 8vh;
  background: #849b67;
}

.project-container-img { 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.project-img {
  object-fit: contain;
}

.project-img img{ 
  border-radius: 1em;
  border: 1px solid rgba(78, 82, 85, .6);
}

.project-container-img .overlay-icons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
}

.overlay-icons a{
 display: inline-block;
 color: black;
 text-decoration: none;
 font-size: 2rem;
}

.overlay-icons a > img {
  width: 6vw;
}

.overlay-icons a:first-child {
  margin-left: 3vw;
  transition: transform ease-in 200ms;
}

.overlay-icons a:last-child {
  left: -9vw;
  transition: transform ease-in 250ms;
}

/* ==================== [Hover Effect over Projects] ====================== */

.overlay-icons a:first-child:hover,
.overlay-icons a:last-child:hover {
    transform: scale(1.2);
  }

.overlay-icons a:first-child:hover::after {
  content: "Website";
  font-size: 1.5vw;
  position: absolute;
  top: 4em;
}

.overlay-icons a:last-child:hover::after {
  content: "GitHub Repo";
  font-size: 1.5vw;
}

.project-container-img:hover .project-img img{
  filter: brightness(25%);
  opacity: .3;
}

.project-container-img:hover .overlay-icons {
  opacity: 1;
} 

/* ==================== [Hover Effect over languages] ===================== */
.hover-icon-effect::after {
  content: attr(data-lang-name);
  display: block;
  position: absolute;
  border-radius: 5px;
  height: fit-content;
  font-size: .7em;
  padding: .2em .4em;
  color: rgb(245, 241, 241);
  background: rgb(26, 25, 25);
  transform: scale(0);
}

.skills-icon::after {
  bottom: -60%;
  transition: transform ease 40ms;
  transition-delay: .7s;
}

.project-icon::after {
  bottom: 0;
  transition: transform ease .3s;
}

.skills-icon:hover::after,
.project-icon:hover::after {
  transform: scale(1);
}

/* ==================== [Hover Effect over Contact Links] ====================== */

.contact-links :hover {
  color: #ed462f;
}

/* =========================== [ CONTACT ] ============================ */

section.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.contact-main {
  width: 32vw;
  background: #ffffff;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 1.25em;
  padding-bottom: 2em;
}

.contact-title {
  background-color: #849b67;
  border-radius: 1.25em 1.25em 0 0;
  padding: .5em;
}

.contact-flex {
  display: flex;
  flex-direction: column;
  height: 19em;
  justify-content: space-evenly;
  align-items: center;
}

.contact-links {
  position: relative;
  font-size: 1.1em;
  height: fit-content;
  text-align: center;
  width: 86%;
  background: #ebebeb;
  border-radius: 1.7em;
  padding: 1em 0;
  border-style: none;
  outline: none;
}

.contact-links i {
  margin-left: 0.6em;
  color: #10110f;
}

.icon-names {
  font-family: "Courier Prime", helvetica;
  margin-left: 0.5em;
  color: #10110f;
}

/* ========================= [ FOOTER ] ========================= */

.footer-section {
  text-align: center;
}

/* ========================= [ Burger Menu ] ==================== */

.bm-menu-wrap,
.bm-overlay,
.bm-burger-button {
  display: none;
}

@media screen and (max-width: 600px) {
  /* Position and sizing of burger button */
.bm-burger-button {
  display: inline-block;
  position: fixed;
  top: 3vh;
  right: 3vw;
  width: 9vw;
  height: 4vh;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background:#fbce33;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  font-weight: bold;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  /* display: inline-block; */
  height: 1rem;
  width: 1rem;
  background: #ed462f;
}

/* Color/shape of close button cross */
.bm-cross {
  background: black;
}

/* Sidebar wrapper styles */
.bm-menu-wrap {
  display: block;
  height: auto !important;
  width: auto !important;
  opacity: .9;
}

/* General Sidebar styles */
.bm-menu {
  display: block;
  background: #fbce33;
  padding: 1rem;
}

/* Wrapper for item list */
.bm-item-list {
  color: white;
  font-size: 1rem;
  padding: .6rem;
  text-align: center;
  margin-top: 3.6vh;
  background: #849b67;
  height: 86% !important;
}

.bm-item-list a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  border-bottom: 2px solid white;
  padding: .7rem;
}

.bm-item-list a:active {
  background: #ed462f;
  font-weight: bold;
}

.bm-item-list a:visited {
  text-decoration: none;
}

.bm-item-list a:first-child {
  padding-top: .75rem;
}

/* Individual item */
.bm-item {
  display: grid !important;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: .75vh;
  border: 2px solid white;
  border-bottom: none;
}

/* Styling of overlay */
.bm-overlay {
  display: none;
}
}

/* =========================== [Media Queries] ============================ */

/* ========================== [ For Laptops ] ========================== */
@media screen and (min-width: 1025px) and (max-width: 1441px) {

  /* ============== [Projects] =============== */

  .project-container-img img{
    transform: scale(.8);
    overflow: visible;
  }

  .overlay-icons a{
    font-size: 2.2vw;
   }
 
  .project-container-img .overlay-icons {
    top: 50%;
  }

  .project-description {
    border-top: none;
  }
}

/* =========================== [ For iPod Pro ] =========================== */
@media screen and (max-width: 1024px) {

  h3 {
    font-size: 2.5rem;
  }

  /* ================ [ HEADER ] ================= */

  header {
    height: 92vh;
  }

  /* ================ [ NAVBAR ] ================= */

  nav ul a {
    font-size: 2.7rem;
  }

  /* ================= [ ABOUT ] ================== */

  .about-left img {
    width: 90%;
  }

  .about-right p {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  /* ================ [ PROJECTS ] ================= */

  .project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .project-container {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 12% 70% 20%;
    grid-template-areas: 
    "header header"
    "image description"
    ". icons";
    width: 95%;
  }

  .project-container-title {
    grid-area: header;
  }

  .project-container-img {
    grid-area: image;
    overflow: visible;
    position: relative;
  }

  .project-container-img img{
    transform: scale(.6);
  } 
  
  .project-description {
    grid-area: description;
    border-top: none;
    border-bottom: none;
  }

  .project-description p {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 3%;
  }

  .project-description::before {
    content: '';
    display: block;
    padding-right: 1.3rem;
    height: 100%;
    border-left: 1px solid rgba(78,82,85,.2);
  }

  .project-icon-bar {
    grid-area: icons;
    justify-self: stretch;
    align-self: start;
    border-top: 1px solid rgba(78,82,85,.2);
    margin: 0 1rem;
    width: 90%;
  }

  .project-icon-bar img {
    width: 3em;
  }

  .project-container-img .overlay-icons {
    opacity: 1;
    top: 83%;
    transform: scale(1.4);
  }

  .overlay-icons a:first-child::after {
    content: "Website";
    left: .5em;
  }

  .overlay-icons a:last-child::after {
    content: "GitHub";
    left: .75em;
  }

  .overlay-icons a:first-child::after,
  .overlay-icons a:last-child::after {
    font-size: 1.3vw;
    top: 4em;
    position: absolute;
  }

  .overlay-icons a:first-child:hover::after {
    content: "Website";
    font-size: 1.3vw;
    top: 4em;
  }
  
  .overlay-icons a:last-child:hover::after {
    content: "GitHub";
    top: 3.3em;
  }

  .overlay-icons a:first-child:hover::after,
  .overlay-icons a:last-child:hover::after {
    font-weight: bold;
    left: .75em;
  }

  .project-container-img:hover .project-img img{
    filter: brightness(100%);
  }

  .project-container-img:hover .project-img img,
  .project-container-img:hover,
  .overlay-icons {
    opacity: 1;
  } 

/* =============== [ CONTACT ] ================ */
  .icon-names {
    font-size: 1.5rem;
  }
}
/* ========= [ Ipad && X-Large Phones ] =========== */
@media screen and (min-width: 601px ) and (max-width: 768) {

  h3 {
    font-size: 3rem;
  }

/* =============== [ HEADER ] ================ */
/* =============== [ NAVBAR ] ================ */
/* ================ [ ABOUT ] ================ */
/* ================ [ SKILLS ] =============== */
/* ============== [ PROJECTS ] =============== */

  .project-container-img img {
    transform: scale(.5);
  }

  .project-icon-bar img {
    width: 3.5em;
  }

  .overlay-icons a > img {
    width: 10vw;
}

/* =============== [ CONTACT ] ================= */
  .contact-main {
    width: 32vw;
  }
}

/* ================= [LARGE PHONES] ================= */
@media screen and (max-width: 600px) {

/* ================ [ ROOT ] ================= */

html,
body {
  font-size: 10px;
}

header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.3)),
    url('./images/mobile-hero-image.png'); 
}

#navbar {
  display: none;
}

h2 {
  font-size: 2.6rem
}

/* ================ [ HEADER ] ================= */
.header-title {
  transform: translate(0, 75%);
}

.first-initials {
  font-size: 11vw;
}

.name-end {
  font-size: 9vw;
  letter-spacing: .15rem;
  opacity: 0;
}

.name {
  align-self: center;
}

.job-title {
  align-self: center;
}

/* =============== [ ABOUT ] ================== */

.about {
  height: auto;
  justify-content: space-between;
  background: #849b67;
}

.about-section {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  justify-items: center;
  box-shadow: 0 0 0 0 #000;
  margin-top: 0;
  height: auto;
  max-height: 68vh;
  min-height: 57vh;
  grid-gap: 2vh;
}

.about-left {
  width: auto;
  justify-self: center;
  align-self: flex-start;
  background: transparent;
}

.about-left img {
  display: inline-block;
  border-radius: 30px;
  max-width: 50vw;
  width: auto;
  border: 0.25rem solid #ed462f;
  padding: 0;
}

.about-right {
  border-radius: 2%;
  width: 90vw;
  align-self: center;
}

.about-right p{
  font-size: 1.4rem;
  line-height: 1.3em;
  padding: .4em;
}

/* =============== [ SKILLS ] ================= */

.skills-section {
  padding: 2vh 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-display {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 2% 0;
}

.skills-bar {
  display: inline-flex;
  flex-wrap: wrap;
}

.skills-bar img {
  width: 3.25rem;
}

.skills-icon {
  padding: 1vw;
}

.hover-icon-effect::after {
  content: '';
  display: none;
}

/* =============== [ PROJECTS ] =============== */

.project-section-header {
  background: linear-gradient(180deg, rgba(132,155,103,1) 0%, rgba(141,164,114,1) 15%, rgba(157,180,133,1) 43%, rgba(162,185,139,1) 52%, rgba(167,190,145,1) 61%, rgba(172,195,151,1) 69%, rgba(177,200,157,1) 77%, rgba(181,204,162,1) 84%, rgba(184,208,166,1) 90%, rgba(190,214,173,1) 100%);
}

.project-section {
  background: #bed6ad;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  width: 85vw;
  height: auto;
  border-radius: 1.25em;
  box-shadow: 0 3px 1.25em 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-bottom: 8vh;
  background: white;
}

.project-description {
  border-top: 1px solid rgba(78,82,85,.3);
  border-bottom: 1px solid rgba(78, 82, 85, 0.3);
  height: auto;
}

.project-description p {
  font-size: 1.75rem;
  line-height: 2.4rem;
  padding: 4%;
}

.project-container-img { 
  display: flex;
  justify-content: center;
  overflow: visible;
  margin-top: -3.5vh;
  padding-bottom: 2.3vh;
}

.project-container-img img{
  transform: scale(.7);
}

.project-container-img .overlay-icons {
  display: flex;
  flex-direction: row;
  top: 76.5%;
  opacity: 1;
  transform: scale(1);
}

.overlay-icons a::after {
  content: '';
  display: block;
  border-top: 1px solid black;
}

.overlay-icons a:last-child {
  left: -86px;
}

.overlay-icons a:first-child::after {
  content: "Website";
  left: 7.5rem;
}

.overlay-icons a:last-child::after {
  content: "GitHub";
  left: -4.5rem;
}

.overlay-icons a:first-child::after,
.overlay-icons a:last-child::after {
  font-size: 1.3rem;
  font-weight: 500;
  top: 40%;
  letter-spacing: .05em;
}

.overlay-icons a:last-child:hover::after,
.overlay-icons a:first-child:hover::after {
  content: "";
}

.overlay-icons a > img {
  width: 7rem;
}

.project-icon-bar img {
  width: 3.5em;
}

/* =============== [ CONTACT ] ================ */

section.contact-section {
  height: 100vh;
  padding-bottom: 0;
}

.contact-main {
  background: #bed6ad;
  width: 80vw;
  height: 62vh;
  padding-bottom: 0;
}

.contact-flex {
  height: 75%;
  justify-content: space-between;
}

.contact-links:first-child {
  margin-top: 3em;
}

.contact-links i {
  font-size: 2rem;
}

.icon-names {
  font-size: 1.5em;
}

.contact-links a:active .icon-names {
  font-weight: bold;
  color: #ed462f;
}

}

/* ============= [ SMALL PHONES ] ============= */
@media screen and (max-width: 410px) {

/* ================ [ ROOT ] ================== */

html, body {font-size: 10px}

/* =============== [ HEADER ] ================= */
/* =============== [ ABOUT ] ================== */

.about-right p {
  font-size: 1.3em;
  padding: 0;
  line-height: 1.3em;
}

.about-left img {
  min-width: 60vw;
  width: auto;
}

/* =============== [ SKILLS ] ================= */

.skills-section {
  height: auto;
  justify-content: flex-end;
}

.skills-bar img {
  width: 3rem;
}

.skills-icon {
  padding: 1.1vw;
}

/* =============== [ PROJECTS ] =============== */

.project-container-img img{
  transform: scale(.625);
}

.project-container-img .overlay-icons {
  top: 75%;
  transform: scale(1.05);
}

.overlay-icons a:first-child::after {
  content: "Website";
  left: 6.5rem;
}

.overlay-icons a:last-child::after {
  content: "GitHub";
  left: -3.4rem;
}

.project-section-header,
#projects {
  background: #849b67;
}

.project-section-header {
  padding-bottom: 1rem;
}

.project-section {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto;
}

.project-section:first-child {
  margin-top: 4rem;
}

.project-section .project-container {
  width: 90vw;
  justify-self: center;
}

}

/* ============== [ SMALL PHONES ] =============== */
@media screen and (max-width: 380px) {

  /* ================ [ ROOT ] ================== */
  /* =============== [ HEADER ] ================= */
  /* =============== [ ABOUT ] ================== */

  .about-left img {
    max-width: 60vw;
    width: auto;
  }

  /* =============== [ SKILLS ] ================= */

  .skills-bar img {
    width: 3rem;
  }
  
  .skills-icon {
    padding: 2vw;
  }

  /* =============== [ PROJECTS ] =============== */

  .project-description p {
    font-size: 1.3rem;
    line-height: 2.4rem;
    padding: 4%;
  } 

  .project-container-img img{
    transform: scale(.55);
  }

  .project-container-img .overlay-icons {
    top: 67.5%;
    transform: scale(1.1);
  }

  .overlay-icons a:first-child::after {
    content: "Website";
    left: 1.3rem;
    top: 85%;
  }
  
  .overlay-icons a:last-child::after {
    content: "GitHub";
    left: 1.5rem;
    top: 85%;
  }
}